body {
    margin: 0;
}


h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    margin-top: 200px;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    margin-top: -20px;
}

.nav {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    gap: 50px;
    background-color: rgb(107, 136, 233);
}

.uvod_img{
    margin-top: -100;
    width: 100%;
    height:900px;
    position: absolute;
    z-index: -5;
    filter: brightness(0.8);
}

#rectangle{
    width: 100%;
    margin-top: 380px;
    height: 60px;
    background-color: rgb(107, 136, 233);
}

.nav a{
    font-family: sans-serif;
    color: white;
    margin-top: 40px;
    font-size: 20px;
    transition: 0.1s;
        text-shadow: 1px 1px 1px #000000;
}

.nav a:hover{
    font-size: 25px;
    
}
